* {
    margin: 0px;
    padding: 0px;
}
.navbar {
    background-color: rgba(18, 18, 18, 70%) !important;
    height: 90px;
}
.navbar-brand {
    color: whitesmoke !important;
}
.web-name a {
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.collapse {
    margin-left: 300px;
    font-size: large;
    font-weight: 300;
}
.nav-link {
    color: aliceblue !important;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none !important;
    color: #ff4d4f !important;
    font-weight: 500;
}
.d-flex {
    width: 17%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff4d4f !important;
    border-radius: 60px;
    margin-right: 50px;

}
.d-flex button {
    color: whitesmoke !important;
}
.card-img {
    width: 100%;
    height: 634.4px;
    background-image: url("../web\ bgi.webp");
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}
.card-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 634.4px;
    background-color: rgba(0, 0, 0, 50%);
    z-index: -1;
}
.card-img-overlay {
    color: whitesmoke;
    z-index: 1;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}
.card-title {
    font-size: 52px;
}
.card-text {
    margin-top: 20px;
    font-size: x-large;
}
.card-icon {
    width: 20%;
    height: 50px;
    margin-top: 30px;
    /* background-color: aliceblue; */
    justify-self: center;
    display: flex;
    justify-content: space-between;
}
.card-icon-sub {
    width: 20%;
    height: 50px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, #c3e5df, transparent 85%);
}
.card-icon-sub:hover {
    background-color: #ff4d4f !important;
}
.card-icon-sub:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}
.about {
    width: 100%;
    height: 1500px;
    background-color: #141414;
    display: flex;
    justify-content: center;
}
.about-sub{
    width: 85%;
    height: 1450px;
    /* background-color: midnightblue; */
    margin-top: 50px;
    justify-self: center;
}
.about-small {
    color: #ff4d4f;
    justify-self: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}
.underline {
    width: 50%;
    height: 1px;
    margin-top: 5px;
    justify-self: center;
    background-color: #ff4d4f;
}
.about-big {
    color: whitesmoke;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
}
.about-big-text {
    color: darkgray;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.about-big-sub-text {
    margin-top: 5px;
    color: darkgray;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.about-sub-1{
    width: 100%;
    height: 1000px;
    /* background-color: #242424; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-left {
    width: 32%;
    height: 800px;
    margin-top: 70px;
    border-radius: 20px;
    background-color: #242424;
}
.about-left-image {
    width: 38%;
    height: 140px;
    top: 50px;
    /* overflow: hidden; */
    border-radius: 120px;
    justify-self: center;
    background-color: #070708;
    outline: 4px solid #070708;
}
.about-left-sub-image{
    width: 100%;
    height: 140px;
    overflow: hidden;
    border-radius: 120px;
    justify-self: center;
    /* background-color: #070708; */
    outline: 12px solid #dc3545;
}
.about-left-image-circle{
    width: 15px;
    height: 15px;
    background-color: rgb(2, 204, 2);
    z-index: 2;
    border-radius: 10px;
    position: absolute;
    outline: 4px solid #070708;
    left: 325px;
    top: 1105px;
    animation: about-left-image-circle 1.7s ease-in-out 0.5s infinite alternate both;
}
@keyframes about-left-image-circle{
    from{
        width: 12px;
        height: 12px;
    }
    to{
        width: 15px;
        height: 15px;
    }
}
.about-left-image-name{
    text-align: center;
    color: whitesmoke;
    position: relative;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
}
.about-left-person-course{
    color: #ff4d4f;
    text-align: center;
    margin-top: 2px;
    font-weight: 500;
}
.about-left-person-rateing{
    margin-top: 25px;
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.about-left-line{
    width: 80%;
    height: 1px;
    margin-top: 40px;
    background-color: rgb(54, 54, 54);
    justify-self: center;
}
.about-left-number-text{
    width: 80%;
    height: 100px;
    justify-self: center;
    /* background-color: darkblue; */
    display: flex;
    justify-content: space-between;
}
.number{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #6c5ce7; */
}
.about-left-number-text1{
    width: 30%;
    height: 100px;
    color: #dc3545;
    /* background-color: #070708; */
    text-align: center;
    justify-self: center;
    padding-right: 15px;
}
.about-left-number-sub-text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(171, 170, 170);
}
.about-left-number-text2{
    width: 30%;
    height: 100px;
    color: #dc3545;
    /* background-color: #070708; */
    text-align: center;
    justify-self: center;
}
.about-left-number-sub-text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(171, 170, 170);
}
.about-left-number-text3{
    width: 30%;
    height: 100px;
    color: #dc3545;
    /* background-color: #070708; */
    text-align: center;
    justify-self: center;
}
.about-left-number-sub-text3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(171, 170, 170);
}
.about-left-line1{
    width: 80%;
    height: 1px;
    margin-top: 10px;
    background-color: rgb(54, 54, 54);
    justify-self: center;
}
.about-left-download-button{
    width: 80%;
    height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    justify-self: center;
    background-color: #e24756;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-sub a{
    text-decoration: none;
    color: whitesmoke;
}
.about-left-download-button:hover a{
    color: whitesmoke !important;
}
.about-left-download-button:hover{
    transform: translateY(-5px);
    transition: 0.8s;
    background-color: #ff2e43;
}
.about-left-contact-button{
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    justify-self: center;
    background: color-mix(in srgb, #dc3545, transparent 85%);
    color: #fc5a6a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-left-line2{
    width: 80%;
    height: 1px;
    margin-top: 30px;
    background-color: rgb(54, 54, 54);
    justify-self: center;
}
.about-left-icon-boxs{
    width: 60%;
    height: 42px;
    justify-self: center;
    margin-top: 20px;
    /* background-color: #070708; */
    display: flex;
    justify-content: space-between;
}
.about-left-icon-box1{
    width: 20%;
    height: 42px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(54, 54, 54);
}
.about-left-icon-box1:hover{
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: #ff4d4f !important;
}
.about-right{
    width: 66%;
    height: 1200px;
    margin-top: 70px;
    /* background-color: #070708; */
}
.about-right-about-head{
    width: 15%;
    height: 30px;
    color: #ff5a6b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.about-right-text-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33.5px;
    letter-spacing: 1px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 15px;
}
.about-right-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 400;
    color: rgb(171, 170, 170);
    margin-top: 15px;
}
.about-right-text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 400;
    color: rgb(171, 170, 170);
    margin-top: 15px;
}
.about-right-boxs{
    width: 100%;
    height: 350px;
    /* background-color: #242424; */
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}
.about-right-box1{
    width: calc(50% - 10px);
    height: 100px;
    outline: 1px solid #242424;
    border-radius: 10px;
    background-color: #242424;
    display: flex;
    flex-wrap: wrap;
}
.about-right-box1:hover{
    outline-color: #dc3545;
}
.about-right-box1-icon{
    width: 18%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-right-box1-text{
    width: 82%;
    height: 100px;
    /* background-color: black; */
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(171, 170, 170);
    display: flex;
    margin-top: 28px;
    margin-left: 10px;
}
.about-right-box1-sub-text{
    color: whitesmoke;
    margin-top: 5px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
}
.about-right-about-head1{
    width: 15%;
    height: 30px;
    margin-top: 40px;
    color: #ff5a6b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.about-right-core-skills-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    color: whitesmoke;
}
.about-right-core-skills-text{
    width: 100%;
    height: 20px;
    margin-top: 30px;
    /* background-color: #070708; */
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}
.about-right-core-skills-text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.about-right-core-skills-text2{
    color: #fc5a6a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.5px;
    font-weight: 600;
}
.progress{
    margin-top: 10px;
    height: 10px !important;
    background: #222 !important;
    overflow: hidden;
    border-radius: 60px !important;
}
.progress-bar{
    position: relative;
    background-color: #dc3545 !important;
    overflow: hidden;
    border-radius: 10px;
}
.progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.5), transparent);
    animation: shine 2s infinite;
}
@keyframes shine{
    100%{
        left: 120%;
    }
}
.resume{
    width: 100%;
    height: 1650px;
    background-color: #141414;
}
.resume-sub{
    width: 85%;
    height: 1650px;
    /* background-color: midnightblue; */
    justify-self: center;
}
.resume-small{
    padding-top: 50px;
    color: #ff4d4f;
    justify-self: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}
.resume-big{
    color: whitesmoke;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
}
.resume-big-text{
    color: darkgray;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}
.resume-big-sub-text{
    margin-top: 5px;
    color: darkgray;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.resume-sub1{
    width: 100%;
    height: 1300px;
    margin-top: 50px;
    justify-self: center;
    /* background-color: #070708; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resume-left{
    width: calc(50% - 5px);
    height: 1300px;
    /* background-color: #222; */
}
.resume-left-title{
    width: 25%;
    height: 40px;
    border-radius: 20px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(135deg, #ff4d4f 50%, #ff4d4f 90%, #6c5ce7 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13.6px;
}
.resume-left-heading{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: 500;
    color: whitesmoke;
}
.resume-left-heading-text{
    color: rgba(255,255,255,0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 400;
}
.resume-left-box{
    width: 100%;
    height: 360px;
    margin-top: 40px;
    border-radius: 17px;
    justify-self: center;
    background-color: #141414;
}
.resume-left-sub-box{
    width: 99.9%;
    height: 360px;
    overflow: hidden;
    border-radius: 17px;
    outline: 1px solid #b62d3b;
    background-color: #1c1c1c;
    position: relative;
}
.resume-left-sub-box:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 40px rgba(255, 255, 255, 10%);
}
.resume-left-line-animation{
    width: 0%;
    height: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(90deg, #FE4C4F, color-mix(in srgb, #ff4d4f, #6c5ce7 20%), #ff4d4f);
}
.resume-left-sub-box:hover .resume-left-line-animation{
    width: 100%;
    transition: 0.8s;
}
.resume-left-box-icon-title{
    width: 90%;
    height: 55px;
    margin-top: 20px;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: #070708; */
    position: absolute;
}
.resume-left-box-icon{
    width: 11%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #e24756;
}
.resume-left-box-title{
    width: 20%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-transform: uppercase;
    background-color: color-mix(in srgb, #dc3545, transparent 75%);
    font-size: 13.6px;
    font-weight: 500;
    color: #dc3545;
}
.resume-left-box-text{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    /* background-color: #070708; */
}
.resume-left-box-heading{
    font-size: 25px;
    font-weight: 400;
    color: whitesmoke;
}
.resume-left-box-heading-text{
    font-size: 18px;
    font-weight: 500;
    color: rgba(255,255,255,0.5);
    margin-top: 5px;
}
.resume-left-box-year{
    width: 25%;
    height: 30px;
    font-size: 13.6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #dc3545;
    border-radius: 20px;
    background-color: color-mix(in srgb, #dc3545, transparent 75%);
}
.resume-left-box-heading-sub-text{
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    color: rgba(255,255,255,0.5);
}
.resume-left-box-3-title{
    width: 70%;
    height: 30px;
    margin-top: 20px;
    /* background-color: #070708; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 13px;
}
.resume-left-box-sub1-title{
    width: 28%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545;
    outline: 1px solid #8d232e;
    border-radius: 20px;
    background-color: color-mix(in srgb, #dc3545, transparent 75%);
}
.resume-left-box-sub2-title{
    width: 25%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545;
    outline: 1px solid #8d232e;
    border-radius: 20px;
    background-color: color-mix(in srgb, #dc3545, transparent 75%);
}
.resume-left-box-sub3-title{
    width: 28%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545;
    outline: 1px solid #8d232e;
    border-radius: 20px;
    background-color: color-mix(in srgb, #dc3545, transparent 75%);
}
.resume-left-sub-box2{
    width: 99.9%;
    height: 314px;
    overflow: hidden;
    margin-top: 30px;
    border-radius: 17px;
    outline: 1px solid #421217;
    background-color: #1c1c1c;
    position: relative;
}
.resume-left-sub-box2:hover{
    transition: 0.5s;
    transform: translateY(-3px);
    outline-color: #84232d;
    box-shadow: 5px 5px 40px rgba(255, 255, 255, 10%);
}
.resume-left-line-animation2{
    width: 0%;
    height: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(90deg, #141414, color-mix(in srgb, #141414, #ff4d4f 100%), #141414);
}
.resume-left-sub-box2:hover .resume-left-line-animation2{
    width: 100%;
    transition: 0.8s;
}
.resume-left-box2-icon{
    width: 11%;
    height: 55px;
    margin-top: 20px;
    margin-left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #e24756;
}
.resume-left-box-text2{
    width: 100%;
    height: 250px;
    margin-top: 20px;
    margin-left: 28px;
    /* background-color: #070708; */
    color: whitesmoke;
}
.resume-right{
    width: calc(50% - 5px);
    height: 1150px;
    /* background-color: #222; */
}
.resume-right-title{
    width: 25%;
    height: 40px;
    border-radius: 20px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(135deg, #ff4d4f 50%, #ff4d4f 90%, #6c5ce7 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 13.6px;
}
.resume-right-heading{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-weight: 500;
    color: whitesmoke;
}
.resume-right-heading-text{
    color: rgba(255,255,255,0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 400;
}
.resume-right-box{
    width: 100%;
    height: 1000px;
    margin-top: 40px;
    /* border-radius: 17px; */
    justify-self: center;
    /* background-color: #1c1c1c; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resume-right-box-text{
    width: 100%;
    height: 1000px;
    /* background-color: #84232d; */
}
.resume-mid{
    height: 1000px;
}
.resume-mid-line{
    width: 1%;
    height: 878px;
    justify-self: center;
    background-color: #e24756;
    position: relative;
}
.resume-mid-line-icon-outline{
    width: 94%;
    height: 45px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume-mid-line-icon1{
    position: absolute;
    width: 3%;
    height: 41px;
    margin-top: 0.2px;
    border-radius: 60px;
    z-index: 1;
    border: 3px solid #070708;
    outline: 2px solid rgba(236,86,85,0.5);
    background-color: #dc3545 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume-mid-line-icon2{
    position: absolute;
    width: 3%;
    height: 40px;
    margin-top: 670px;
    border-radius: 60px;
    z-index: 2;
    border: 3px solid #070708;
    outline: 2px solid rgba(236,86,85,0.5);
    background-color: #dc3545 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume-mid-line-icon3{
    position: absolute;
    width: 3%;
    height: 40px;
    margin-top: 1250px;
    border-radius: 60px;
    z-index: 2;
    border: 3px solid #070708;
    outline: 2px solid rgba(236,86,85,0.5);
    background-color: #dc3545 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resume-right-box-1{
    width: 99%;
    height: 290px;
    border-radius: 17px;
    outline: 1px solid #421217;
    background-color: #1c1c1c;
    justify-self: end;
    position: relative;
}
.resume-right-box-1:hover{
    transform: translatex(5px);
    transition: 0.4s;
    outline-color: #681e27;
    box-shadow: 5px 5px 40px rgba(255, 255, 255, 10%);
}
.resume-right-box-year-text{
    width: 89%;
    position: absolute;
    margin-top: 20px;
    height: 30px;
    margin-left: 27px;
    /* background-color: #070708; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.resume-right-box-year{
    width: 25%;
    height: 30px;
    font-size: 13.6px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
    color: #dc3545;
    border-radius: 20px;
    background-color: color-mix(in srgb, #dc3545, transparent 75%);    
}
.resume-right-box-text1-year{
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    font-size: 13.6px;
    font-weight: 500;
    letter-spacing: 1px;
}
.resume-right-box1-sub{
    width: 90%;
    height: 220px;
    position: absolute;
    /* background-color: #070708; */
    margin-left: 27px;
    margin-top: 70px;
}
.resume-right-box1-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
}
.resume-right-box1-sub-head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
    color: rgba(255,255,255,0.5);
}
.resume-right-box1-text{
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    color: rgba(255,255,255,0.5);
}
.resume-left-box-in-box{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    border-radius: 10px;
    /* background-color: #dc3545; */
    display: flex;
    flex-wrap: wrap;
}
.resume-left-box-in-box1{
    width: 1.5%;
    height: 45px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #dc3545;
}
.resume-left-box-in-box2{
    width: 98.5%;
    height: 45px;
    color: whitesmoke;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.resume-left-box-in-box2-text{
    margin-top: 12px;
    font-size: 15px;
    font-weight: 700;
    color: #ff2e43;
    /* margin-left: 20px; */
}
.resume-left-box-in-box2-text i{
    margin-left: 20px;
    margin-top: 2px;
}
.resume-right-box-2{
    width: 99%;
    height: 250px;
    margin-top: 40px;
    border-radius: 17px;
    outline: 1px solid #421217;
    background-color: #1c1c1c;
    justify-self: end;
    position: relative;
}
.resume-right-box-2:hover{
    transform: translatex(5px);
    transition: 0.4s;
    outline-color: #681e27;
    box-shadow: 5px 5px 40px rgba(255, 255, 255, 10%);
}
.resume-right-box-3{
    width: 99%;
    height: 300px;
    margin-top: 40px;
    border-radius: 17px;
    outline: 1px solid #421217;
    background-color: #1c1c1c;
    justify-self: end;
    position: relative;
}
.resume-right-box-3:hover{
    transform: translatex(5px);
    transition: 0.4s;
    outline-color: #681e27;
    box-shadow: 5px 5px 40px rgba(255, 255, 255, 10%);
}
.resume-right-box-3-text-number{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* background-color: #070708; */
}
.resume-right-box-3-text{
    color: whitesmoke;
    font-weight: 500;
}
.resume-right-box-3-number{
    width: 12%;
    height: 20px;
    font-size: 12.3px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dc3545;
    border-radius: 20px;
    background-color: color-mix(in srgb, #dc3545, transparent 75%);
}
.resume-right-box-3-text-number-line{
    width: 100%;
    height: 1px;
    background-color: rgba(154, 154, 154, 0.1);
}
.resume-right-box-3-text-number1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    /* background-color: #070708; */
}

.services{
    width: 100%;
    height: 1180px;
    background-color: #141414;
}
.services-sub{
    width: 85%;
    height: 1180px;
    justify-self: center;
    /* background-color: #070708; */
}
.services-small{
    /* padding-top: 50px; */
    color: #ff4d4f;
    justify-self: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}
.services-big{
    color: whitesmoke;
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    letter-spacing: -1px;
}
.services-big-text{
    color: darkgray;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}
.services-big-sub-text{
    /* margin-top: 5px; */
    margin-bottom: 50px;
    color: darkgray;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
}
.services-sub1{
    width: 100%;
    height: 670px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: #070708; */
}
.services-boxs{
    width: 24%;
    height: 310px;
    border-radius: 17px;
    overflow: hidden;
    border: 1px solid #242424;
    background-color: #1c1c1c;
}
.services-boxs:hover{
    border-color: #ff4d4f;
    transition: 0.7s;
    transform: translateY(-4px);
}
.services-box-line{
    width: 0%;
    height: 3px;
    background-color: #fc5a6a;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.services-boxs:hover .services-box-line{
    width: 100%;
    transition: 0.8s;
}
.services-box-icon{
    width: 27%;
    height: 70px;
    margin-top: 25px;
    justify-self: center;
    border-radius: 15px;
    background: color-mix(in srgb, #dc3545, transparent 85%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-boxs:hover .services-box-icon{
    background-color: #dc3545 !important;
    transform: rotate(9deg);
    transition: 0.8s;
}
.services-boxs:hover .services-box-icon i{
    color: whitesmoke !important;
    transition: 0.8s;
}
.services-box-text{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
}
.services-box-text1{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.5);
}
.services-box-text-arrow{
    margin-top: 30px;
    text-align: center;
    color: whitesmoke;
    font-weight: 500;
}
.services-boxs:hover .services-box-text-arrow{
    color: #ff4d4f !important;
    transition: 0.8s;
}
.services-boxs:hover .services-box-text-arrow i{
    color: #ff4d4f !important;
    transform: translateX(4px);
    transition: 0.8s;
}
.services-boxs:hover .services-box-text-arrow a{
    color: #ff4d4f !important;
    transition: 0.8s;
}
.services-box-text-arrow a{
    text-decoration: none;
    color: whitesmoke;
}

.services-boxs1{
    width: 24%;
    height: 310px;
    border-radius: 17px;
    overflow: hidden;
    border: 1px solid #ff4d4f;
    background-color: #1c1c1c;
}
.services-boxs1:hover{
    transition: 0.7s;
    transform: translateY(-4px);
}
.services-box-line1{
    width: 100%;
    height: 3px;
    background-color: #fc5a6a;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.services-box-icon1{
    width: 27%;
    height: 70px;
    margin-top: -11.8px;
    margin-bottom: 100px;
    justify-self: center;
    border-radius: 15px;
    background: color-mix(in srgb, #dc3545, transparent 85%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-boxs1:hover .services-box-icon1{
    background-color: #dc3545 !important;
    transform: rotate(9deg);
    transition: 0.8s;
}
.services-boxs1:hover .services-box-icon1 i{
    color: whitesmoke !important;
    transition: 0.8s;
}
.services-box-text2{
    margin-top: -81px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: whitesmoke;
}
.services-box-text3{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: rgba(255,255,255,0.5);
}
.services-box-text-arrow1{
    margin-top: 29px;
    text-align: center;
    color: whitesmoke;
    font-weight: 500;
}
.services-boxs1:hover .services-box-text-arrow1{
    color: #ff4d4f !important;
    transition: 0.8s;
}
.services-boxs1:hover .services-box-text-arrow1 i{
    color: #ff4d4f !important;
    transform: translateX(4px);
    transition: 0.8s;
}
.services-boxs1:hover .services-box-text-arrow1 a{
    color: #ff4d4f !important;
    transition: 0.8s;
}
.services-box-text-arrow1 a{
    text-decoration: none;
    color: whitesmoke;
}
.services-box-icon-side-text{
    width: 40%;
    height: 30px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 11.8px;
    font-weight: 500;
    background-color: #ff4d4f;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    margin-top: 10px;
    margin-right: -20px;
    transform: rotate(40deg);
}
.services-sub2{
    width: 100%;
    height: 150px;
    margin-top: 30px;
    border-radius: 17px;
    background: linear-gradient(135deg,rgba(255, 77, 79, 1) 0%, rgba(194, 97, 141, 1) 100%, rgba(255, 77, 79, 1) 34%, rgba(108, 92, 231, 1) 40%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services-sub2-text{
    width: 60%;
    height: 80px;
    margin-left: 50px;
    color: whitesmoke;
    justify-self: center;
    /* background-color: #070708; */
    font-size: 30px;
    font-weight: 500;
}
.services-sub2-text1{
    margin-top: 5px;
    color: rgba(255, 255, 255, 80%);
    font-size: 13.6px;
    font-weight: 500;
}
.services-sub2-button{
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 10px;
    background: color-mix(in srgb, whitesmoke, transparent 90%);
}
.services-sub2-button1{
    width: 100%;
    height: 50px;
    color: #dc3545;
    border-radius: 30px;
    justify-self: center;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: 500;
    margin-right: 50px;
}
.services-sub2-button1 a{
    text-decoration: none;
    color: #ff4d4f;
}
.services-sub2-button1:hover a{
    color: #ff4d4f !important;
}
.services-sub2-button1:hover{
    transform: translateY(-1px);
    filter: drop-shadow(25px 25px 10px rgb(0, 0, 0, 1%));
}

.portfolio{
    width: 100%;
    height: 1310px;
    background-color: #141414;
}
.portfolio-sub{
    width: 85%;
    height: 1310px;
    justify-self: center;
    /* background-color: #070708; */
}
.portfolio-small{
    /* padding-top: 50px; */
    color: #ff4d4f;
    justify-self: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}
.portfolio-big{
    color: whitesmoke;
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    letter-spacing: -1px;
}
.portfolio-big-text{
    color: darkgray;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}
.portfolio-big-sub-text{
    /* margin-top: 5px; */
    margin-bottom: 50px;
    color: darkgray;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
}
.portfolio-sub1{
    width: 50%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    /* background-color: #8d232e; */
}
.portfolio-sub1-heading-1{
    width: 18%;
    height: 40px;
    font-weight: 400;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #1c1c1c;
    background-color: #ff2e43;
}
.portfolio-sub1-heading-1 a{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}
.portfolio-sub1-heading-1:hover a{
    color: rgba(255,255,255,0.8);
}
.portfolio-sub1-heading-4{
    width: 16%;
    height: 40px;
    font-weight: 400;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #1c1c1c;
    /* background-color: #ff2e43; */
}
.portfolio-sub1-heading-4 a{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}
.portfolio-sub1-heading-4:hover a{
    color: #ff2e43;
}
.portfolio-sub1-heading-2{
    width: 16%;
    height: 40px;
    font-weight: 400;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #1c1c1c;
    /* background-color: #6c5ce7; */
}
.portfolio-sub1-heading-2 a{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}
.portfolio-sub1-heading-2:hover a{
    color: #ff2e43;
}
.portfolio-sub1-heading-3{
    width: 22%;
    height: 40px;
    font-weight: 400;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #1c1c1c;
    /* background-color: #6c5ce7; */
}
.portfolio-sub1-heading-3 a{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
}
.portfolio-sub1-heading-3:hover a{
    color: #ff2e43;
}
.portfolio-sub1-heading-2:hover{
    outline-color: #dc3545;
}
.portfolio-sub1-heading-3:hover{
    outline-color: #dc3545;
}
.portfolio-sub1-heading-4:hover{
    outline-color: #dc3545;
}
.portfolio-boxs{
    width: 100%;
    height: 700px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    /* background-color: #242424; */
}
.portfolio-boxs-1{
    width: 356px;
    height: 306.500px;
    border-radius: 7px;
    /* background-color: #421217; */
}
.portfolio-boxs-1 img{
    border-radius: 7px;
}
.portfolio-boxs-1:hover img{
    transform: scale(1.1);
    transition: 0.7s;
}
.portfolio-boxs-1-sub-1{
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    /* background-color: #6c5ce7; */
}
.portfolio-boxs-1-sub-1::before{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(232, 230, 230) 10%, rgba(0, 0, 0, 1) 80%);
    opacity: 0.7;
    border-radius: 7px;
    position: absolute;
    display: none;
}
.portfolio-boxs-1:hover .portfolio-boxs-1-sub-1::before{
    display: block;
    z-index: 2;
    border-radius: 7px;
}
.portfolio-boxs-1-sub-1-1{
    width: 41%;
    height: 25px;
    margin: 18px 20px;
    font-size: 13.6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    position: absolute;
    color: #dc3545;
    background-color: white;
    display: none;
    z-index: 2;
}
.portfolio-boxs-1:hover .portfolio-boxs-1-sub-1-1{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 5s;
}
.portfolio-boxs-1-sub-1-2{
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    color: white;
    margin: 45px 22px;
    display: none;
    z-index: 2;
}
.portfolio-boxs-1:hover .portfolio-boxs-1-sub-1-2{
    display: block;
}
.portfolio-boxs-1-sub-1-3{
    width: 11%;
    height: 40px;
    right: 60px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 25px;
    position: absolute;
    background-color: white;
    display: none;
}
.portfolio-boxs-1:hover .portfolio-boxs-1-sub-1-3{
    display: block;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-boxs-1-sub-1-4{
    width: 11%;
    height: 40px;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 25px;
    position: absolute;
    background-color: white;
    display: none;
}
.portfolio-boxs-1:hover .portfolio-boxs-1-sub-1-4{
    display: block;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio-boxs-1-sub-2{
    width: 100%;
    height: 30px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-top: 6.5px;
    /* background-color: #6c5ce7; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-boxs-1-sub-2-1{
    width: 60%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom-left-radius: 7px;
    /* background-color: #681e27; */
}
.portfolio-boxs-1-sub-2-1-1{
    width: 45%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 7px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #dc3545;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.portfolio-boxs-1-sub-2-1-2{
    width: 42%;
    height: 30px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #dc3545;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.portfolio-boxs-1-sub-2-1-2-1{
    width: 48%;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #dc3545;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.portfolio-boxs-1-sub-2-1-1-2{
    width: 38%;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #dc3545;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.portfolio-boxs-1-sub-2-1-2-2{
    width: 38%;
    height: 30px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #dc3545;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.portfolio-boxs-1-sub-2-2{
    width: 15%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 7px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255,255,255,0.5);
}
.portfolio-between-line{
    width: 100%;
    height: 1px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.1);
}
.portfolio-last-box{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    /* background-color: #070708; */
}
.portfolio-last-box-1{
    width: 60%;
    height: 100px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding-top: 18px;
    /* background-color: #242424; */
}
.portfolio-last-box-1-1{
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 500;
}
.portfolio-last-box-2{
    width: 30%;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: #681e27; */
}
.portfolio-last-box-2-2{
    width: 65%;
    height: 50px;
    bottom: 25px;
    right: 0px;
    border-radius: 7px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc3545;
    position: absolute;
}
.portfolio-last-box-2-2 a{
    text-decoration: none;
}
.portfolio-last-box-2-2:hover{
    transform: translateY(-2px);
    transition: 0.7s;
    filter: drop-shadow(5px 5px 10px rgba(202, 11, 11, 0.5));
}

.contact{
    width: 100%;
    height: 728px;
    background-color: #141414;
}
.contact-sub{
    width: 85%;
    height: 728px;
    justify-self: center;
    /* background-color: #070708; */
}
.contact-small{
    /* padding-top: 50px; */
    color: #ff4d4f;
    justify-self: center;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
}
.contact-big{
    color: whitesmoke;
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    letter-spacing: -1px;
}
.contact-big-text{
    color: darkgray;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}
.contact-big-sub-text{
    /* margin-top: 5px; */
    margin-bottom: 50px;
    color: darkgray;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
}
.contact-sub-1{
    width: 100%;
    height: 500px;
    /* background-color: #681e27; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-left{
    width: 33%;
    height: 450px;
}
.contact-left-box{
    width: 100%;
    height: 130px;
    display: flex;
    border-radius: 7px;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: #1c1c1c;
}
.contact-left-box-left{
    width: 27%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /* background-color: #070708; */
}
.contact-left-box-left-sub{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: color-mix(in srgb, #dc3545, transparent 85%);
}
.contact-left-box-right{
    width: 73%;
    height: 100%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    /* background-color: #222; */
    display: flex;
    align-items: center;
}
.contact-left-box-right-sub{
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
}
.contact-left-box-right-sub-1{
    color: rgba(255,255,255,0.8);
    font-size: 13.8px;
    font-weight: 400;
}
.contact-left-box:hover{
    border-color: #ff2e43;
    filter: drop-shadow(1px 0px 11px rgba(110, 110, 110, 0.5));
}
.contact-left-box:hover .contact-left-box-left-sub{
    background-color: #ff2e43;
}
.contact-left-box:hover .contact-left-box-left-sub i{
    color: whitesmoke !important;
}
.contact-left-box-1{
    width: 100%;
    height: 110px;
    display: flex;
    margin-top: 15px;
    border-radius: 7px;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: #1c1c1c;
}
.contact-left-box-1:hover{
    border-color: #ff2e43;
    filter: drop-shadow(1px 0px 11px rgba(110, 110, 110, 0.5));
}
.contact-left-box-1:hover .contact-left-box-left-sub{
    background-color: #ff2e43;
}
.contact-left-box-1:hover .contact-left-box-left-sub i{
    color: whitesmoke !important;
}
.contact-left-box-1-1{
    width: 100%;
    height: 110px;
    display: flex;
    margin-top: 15px;
    border-radius: 7px;
    border: 1px solid rgba(255,255,255,0.1);
    background-color: #1c1c1c;
}
.contact-left-box-1-1:hover{
    border-color: #ff2e43;
    filter: drop-shadow(1px 0px 11px rgba(110, 110, 110, 0.5));
}
.contact-left-box-1-1:hover .contact-left-box-left-sub{
    background-color: #ff2e43;
}
.contact-left-box-1-1:hover .contact-left-box-left-sub i{
    color: whitesmoke !important;
}
.contact-right{
    width: 65%;
    height: 450px;
    background-color: #1c1c1c;
}
.contact-right-sub-1{
    width: 90%;
    height: 50px;
    display: flex;
    margin-top: 40px;
    justify-self: center;
    justify-content: space-between;
    /* background-color: #070708; */
}
.contact-right-sub-1-left{
    width: 48%;
    height: 50px;
    /* background-color: #421217; */
}
.contact-right-sub-1-right{
    width: 48%;
    height: 50px;
    /* background-color: #421217; */
}
.contact-right-sub-1-left input{
    width: 100%;
    height: 50px;
    background-color: #242424;
    outline: 1px solid rgb(126, 126, 126,0.5);
    border-radius: none;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    color: whitesmoke;
}
.contact-right-sub-1-right input{
    width: 100%;
    height: 50px;
    background-color: #242424;
    outline: 1px solid rgb(126, 126, 126,0.5);
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    /* color: whitesmoke; */
}
.my-input:focus{
    /* outline-color: #ff4d4f; */
    color: whitesmoke !important;
    border: 1px solid #ff4d4f;
    outline: 2px solid color-mix(in srgb, #dc3545, transparent 50%);
}
.contact-right-sub-2 input{
    width: 90%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-self: center;
    background-color: #242424;
    outline: 1px solid rgb(126, 126, 126,0.5);
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}
.contact-right-sub-3 input{
    width: 90%;
    height: 150px;
    margin-top: 30px;
    display: flex;
    justify-self: center;
    background-color: #242424;
    outline: 1px solid rgb(126, 126, 126, 0.5);
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}
.contact-right a{
    width: 25%;
    height: 50px;
    border-radius: 5px;
    background-color: #ff2e43;
    margin-top: 30px;
    justify-self: center;
    font-size: 15px;
    font-weight: 500;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.contact-right a:hover{
    color: whitesmoke;
    transform: translateY(-5px);
    transition: 0.8s;
}
.contact-footer-between-line{
    width: 100%;
    height: 1px;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.1);
}
.footer{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #141414;
}
.footer-sub{
    width: 85%;
    height: 250px;
    display: flex;
    /* background-color: #070708; */
}
.footer-sub-left{
    width: 40%;
    height: 250px;
    /* background-color: #1c1c1c; */
}
.footer-sub-left-up a{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    color: whitesmoke;
    text-decoration: none;
    /* background-color: #421217; */
}
.footer-sub-left-up a:hover{
    color: whitesmoke;
}
.footer-sub-left-middle{
    color: rgba(255,255,255,0.5);
    margin-top: 22px;
    font-size: 15px;
}
.footer-sub-left-down{
    width: 45%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-sub-left-down-sub{
    width: 19%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid rgba(255,255,255,0.4);
}
.footer-sub-left-down-sub:hover{
    border-color: #ff4d4f;
}
.footer-sub-left-down-sub:hover i{
    color: #ff4d4f !important;
}
.footer-sub-right{
    width: 60%;
    height: 250px;
    display: flex;
    /* background-color: #222; */
}
.footer-sub-right-column{
    width: 26%;
    height: 250px;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 16.6px;
    font-weight: 600;
    /* background-color: #070708; */
}
.footer-sub-right-column-sub{
    margin-top: 15px;
}
.footer-sub-right-column-sub a{
    font-size: 14.5px;
    font-weight: 400;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.5);
}
.footer-sub-right-column-sub a:hover{
    color: #ff4d4f !important;
}
.footer-sub-right-column-contact{
    width: 40%;
    height: 250px;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 16.6px;
    font-weight: 600;
    /* background-color: #070708; */
}
.footer-sub-right-column-contact-address{
    font-size: 14px;
    font-weight: 500;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.7);
}
.footer-sub-right-column-contact-address-1{
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.7);
}
.footer-sub-right-column-contact-address-2{
    font-size: 14px;
    font-weight: 500;
    margin-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.7);
}
.footer-sub-right-column-contact-phone{
    color: rgba(255,255,255,0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    font-weight: 600;
    margin-top: 45px;
    display: flex;
}
.phone-number{
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.8);
}
.footer-sub-right-column-contact-email{
    color: rgba(255,255,255,0.9);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.5px;
    font-weight: 600;
    margin-top: 5px;
    display: flex;
}
.email{
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.8);
}